* {
    font-family: Arial;
}

body {
    width: 100%;
    max-width: 550px;
    margin: auto;
}

header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}


header img {
    width: 150px;
    height: auto;
}


.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form label {
    width: 150px;
    font-weight: bold;
}

.form input, .form textarea {
    flex: 1;
}

.form-row1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.form-row1 input {
    width: 100%;
}

.element1, .element2 {
    display: flex;
    align-items: center;
}

.element2 label {
    max-width: 100px;
}

.form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-block label {
    width: 100%;
    margin-bottom: 6px;
}

.field {
    display: flex;
    align-items: center;
    flex: 1;
}

.field label {
    width: 120px;
}

.field input {
    flex: 1;
}

input[type="range"] {
    width: 100%;
    accent-color: blue;
    height: 5px;
}

.form-row-star label{
    margin-right: 5px;
}

.form-row-star {
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: white;
    height: 40px;
}
